/* 
Global Styles
 */

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
  object-fit: cover;
}

/*
Global Styles 
*****/

/* 
Header Styles 
*/

.header-section {
  background-color: #f9f9f9;
}

.header-section .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}

.header-section .navigation .left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.header-section .navigation .left-nav a {
  font-weight: 600;
  text-transform: uppercase;
}

.header-section .navigation .left-nav .left-nav__links:not(:last-child) {
  margin-right: 2em;
}

.header-section .navigation .logo {
  width: 8%;
}

.header-section .navigation .right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.header-section .navigation .right-nav a {
  font-weight: 600;
}

.header-section .navigation .right-nav .right-nav__links:not(:first-child) {
  margin-left: 2em;
}

.header-section .navigation .right-nav .right-nav__links--hamburger-menu {
  cursor: pointer;
}

.header-section .navigation .right-nav__links .menu-bar {
  height: 0.2em;
  width: 30px;
  background-color: #000000;
}

.header-section .navigation .right-nav__links .menu-bar:not(:last-child) {
  margin-bottom: 0.4em;
}

/* 
Header Styles
 *****/

/* 
Jumbo Section Styles
 *****/

.jumbo-section {
  height: 95vh;
  background: url("../img/Jumbo-img.png") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-color: #f9f9f9;
}

.jumbo-section .jumbo-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
}

.jumbo-section-content .left-text {
  display: flex;
  flex-direction: column;
  width: 34%;
  vertical-align: middle;
}

.left-text .left-text__title {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.left-text .left-text__title .left-text__title__small {
  color: #ff0193;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

.left-text .left-text__title .left-text__title__big {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.7em;
}

.left-text .left-text__paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.2em;
  line-height: 29px;
}

.left-text .left-text__button {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 32px;
  padding: 0.9em 2em;
  width: 50%;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.jumbo-section-content .right-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50%;
  height: 70%;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.right-text .right-text__first {
  align-self: flex-start;
  font-size: 3.625rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 65px;
}

.right-text .right-text__second {
  color: #ff0193;
  font-size: 9.77625rem;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -6px;
}

.right-text .right-text__third {
  align-self: flex-end;
  font-size: 3.625rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 110px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 10%;
  letter-spacing: 0;
  margin-top: -110px;
}

.social-media a img {
  width: 100%;
  object-fit: cover;
}

/* 
Jumbo Section  Styles
 *****/
